.avatar {
  width: 280px;
  height: 280px;
  border-radius: 160px;
  margin-bottom: 16px;
  overflow: hidden;
  border: 16px solid var(--gray);
}

.avatar img {
  width: 248px;
  height: 248px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .module {
    display: flex;
    align-items: center;
  }

  .avatar {
    width: 140px;
    height: 140px;
    border-radius: 80px;
    margin-right: 16px;
    margin-bottom: 8px;
    overflow: hidden;
    border: 8px solid var(--gray);
  }

  .avatar img {
    width: 124px;
    height: 124px;
    object-fit: cover;
  }
}
