.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.label {
  font-size: 1.4rem;
  color: var(--light-gray);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.error {
  flex-grow: 1;
  text-align: right;
}
