.module {
  max-width: var(--pc-max-content-width);
  min-height: 1024px;
  margin: 0 auto;
  padding: var(--pc-inner-padding);
}

.contentHeader {
  margin-bottom: 24px;
}

.content {
  margin-bottom: 36px;
}

.meta {
  display: flex;
}

@media screen and (max-width: 767px) {
  .module {
    max-width: var(--sp-max-content-width);
    min-width: var(--sp-min-content-width);
    padding: var(--sp-inner-padding);
  }

  .content {
    margin-bottom: 18px;
  }

  .meta {
    display: block;
  }
}
