:root {
  --white: #ffffff;
  --ghost-gray: #ccccdb;
  --light-gray: #9f9fb8;
  --middle-gray: #6a6a80;
  --gray: #313140;
  --navy: #252532;
  --dark-navy: #070a15;
  --pink: #f41773;
  --orange: #f46c17;
  --vivid-orange: #ff8400;
  --blue: #005ec3;
  --vivid-blue: #007bff;
  --yellow: #ffbb00;
  --pc-max-content-width: 1184px;
  --pc-min-content-width: 960px;
  --pc-inner-padding: 48px;
  --sp-max-content-width: 767px;
  --sp-min-content-width: 320px;
  --sp-inner-padding: 24px;
}

html {
  font-size: 62.5%;
  background-color: var(--navy);
}

body {
  font-size: 1.6rem;
  color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.2rem;
    line-height: 1.4;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 1.4;
  }

  h3 {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}
